<app-modal (close)="closeModal()">
  <div class="add-column-wrapper">
    <h2 class="heading">Add New Column</h2>
    <form [formGroup]="columnsForm">
      <div class="board-columns-container" formArrayName="columns">
        <span *ngIf="columns.length; else noColumns">
          <div class="input-info"><p class="input-heading">New Columns</p></div>
          <div
            *ngFor="let column of columns.controls; index as i"
            class="new-column"
          >
            <div class="column-input" [formGroupName]="i">
              <div class="input-pack">
                <input
                  id="boardColumns"
                  class="input column"
                  [ngClass]="{
                    invalid: column.invalid && column.touched
                  }"
                  type="text"
                  placeholder="e.g. Todo"
                  formControlName="name"
                  required
                />
                <span
                  *ngIf="column.invalid && column.touched"
                  class="error-message"
                >
                  Can't be empty
                </span>
              </div>
              <button
                type="button"
                class="remove-btn"
                (click)="removeColumn(i)"
              ></button>
            </div>
          </div>
        </span>
        <button type="button" class="btn add-column-btn" (click)="addColumn()">
          +Add New Column
        </button>
      </div>
    </form>
    <button
      [disabled]="!columns.length"
      type="submit"
      class="btn confirm-btn"
      (click)="submitForm()"
    >
      Confirm New Columns
    </button>
  </div>
  <!-- IF NO COLUMNS -->
  <ng-template #noColumns>
    <p class="error-info">You need to add at least one column</p>
  </ng-template>
</app-modal>
