.add-column-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 30rem;
  transition: all 0.2s ease-in-out;
}

.heading {
  font-size: 1.125rem;
  color: var(--White);
  font-weight: bold;
}

.input-heading {
  font-size: 0.75rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid var(--LinesDark);
  background-color: unset;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  font-size: 0.813rem;
  font-weight: medium;
  color: white;
}

.invalid {
  border-color: var(--Red);
}

.input-pack {
  position: relative;
  width: 100%;
}

.error-message {
  position: absolute;
  right: 2rem;
  color: var(--Red);
  font-size: 0.813rem;
  white-space: nowrap;
  top: 49%;
  transform: translateY(-49%);
}

.empty-columns {
  color: var(--Red);
}

.error-info {
  color: var(--MediumGrey);
  font-weight: bold;
  width: 24.063rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1; /* Firefox */
}

.input:hover {
  border-color: var(--MainPurple);
  outline: none;
}

.input:focus {
  border-color: var(--MainPurpleHover);
  outline: none;
}

.new-column:not(:first-child) {
  margin-top: 0.5rem;
}

.column {
  width: 24.063rem;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

.column-input {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.column-input:not(:first-child) {
  margin-top: 0.75rem;
}

.remove-btn {
  background-image: url("/assets/icon-cross.svg");
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: unset;
  border: unset;
  transition: all 0.2s ease-in-out;
}

.remove-btn:hover {
  cursor: pointer;
  background-image: url("/assets/icon-cross-hover.svg");
}

.board-columns-container {
  margin-top: 1.5rem;
}

.btn {
  font-size: 0.938rem;
  font-weight: bold;
  border: none;
  padding: 0.938rem 1.5rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

.create-column-btn {
  margin-top: 1.5rem;
}

.add-column-btn {
  margin-top: 0.75rem;
  color: var(--MainPurple);
  background-color: white;
}

.confirm-btn {
  background-color: var(--MainPurple);
  color: white;
  margin-top: 1.5rem;
}

.confirm-btn:hover {
  background-color: var(--MainPurpleHover);
}

.confirm-btn:disabled {
  cursor: default;
  background-color: #8785b9;
}

@media screen and (max-width: 765px) {
  .column,
  .empty-columns {
    width: 16.5rem;
  }

  .add-column-wrapper {
    min-width: 22.5rem;
  }
}
