.columns {
  background-color: var(--VeryDarkGrey);
  width: 100%;
  height: 100%;
}

.columns-wrapper {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  height: 100%;
  overflow: auto;
}

/* width */
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--LinesDark);
  padding: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--MainPurple);
  border-radius: 50px;
  padding: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--MainPurple);
}

.task {
  width: 100%;
  height: 200px;
  background-color: var(--DarkGrey);
  margin-top: 1.25rem;
}

.add-column {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--MediumGrey);
  border: none;
  background: rgb(43, 44, 55);
  background: linear-gradient(
    180deg,
    rgba(43, 44, 55, 1) 0%,
    rgba(43, 44, 55, 0.20211834733893552) 100%
  );
  border-radius: 6px;
  max-height: 82vh;
  margin-top: 35px;
  padding: 0 3.45rem;
  min-width: 280px;
  transition: all 0.2s ease-in-out;
}

.add-column:hover {
  cursor: pointer;
  background-color: rgba(43, 44, 55, 1);
}

app-column {
  display: block;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
