<div class="columns">
  <div
    *ngIf="boardName.columnsCount > 0 && boardName.id"
    cdkDropListGroup
    class="columns-wrapper"
  >
    <app-column
      *ngFor="let column of board?.columns"
      cdkDropList
      [cdkDropListData]="column.tasks"
      (cdkDropListDropped)="drop($event, column.id)"
      [column]="column"
    ></app-column>
    <button class="add-column" (click)="toggleModal()">+ New Column</button>
  </div>
  <app-empty-board
    [emptyColumns]="boardName.columnsCount <= 0"
    [emptyBoards]="!boardName.id"
    [boardId]="boardName.id"
    *ngIf="boardName.columnsCount <= 0 || !boardName.id"
  ></app-empty-board>
</div>

<app-add-column
  *ngIf="addColumnFlag"
  (close)="toggleModal()"
  [boardId]="board.id"
></app-add-column>
