<div class="sidebar" #sidebar>
  <div class="sidebar-wrapper">
    <div class="boards-navlist">
      <h4>ALL BOARDS (3)</h4>
      <ul class="navlist-buttons">
        <li>
          <button class="navlist-btn navlist-btn-active">
            Platform Launch
          </button>
        </li>
        <li><button class="navlist-btn">Marketing Plan</button></li>
        <li><button class="navlist-btn">Roadmap</button></li>
        <button class="navlist-btn btn-add">+Create New Board</button>
      </ul>
    </div>
    <div class="hide-sidebar">
      <button class="hide-sidebar-btn" (click)="toggleSidebar()"></button>
    </div>
  </div>
</div>
<button class="show-sidebar-btn" #showbtn (click)="toggleSidebar()"></button>
