.sidebar {
  background-color: var(--DarkGrey);
  height: 100%;
  border-right: 1px solid var(--LinesDark);
  transition: all 0.2s ease-in-out;
}

.sidebar-wrapper {
  height: 100%;
  transition: all 0.2s ease-in-out;
  padding-right: 1.45rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
}

.hide-sidebar-btn {
  background-color: unset;
  background-image: url("/assets/icon-hide-sidebar.svg");
  background-repeat: no-repeat;
  background-position-y: 0.16rem;
  padding-left: 2rem;
  border: none;
  color: var(--MediumGrey);
  font-size: 0.938rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-left: 2rem;
}

.hide-sidebar-btn:hover {
  cursor: pointer;
  background-image: url("/assets/icon-hide-sidebar-hover.svg");
  color: var(--White);
}

.hide-sidebar-btn::before {
  content: "Hide Sidebar";
}

.show-sidebar-btn {
  display: none;
}

@media screen and (min-width: 765px) {
  .show-sidebar-btn {
    display: none;
    position: absolute;
    bottom: 4rem;
    padding: 1rem 1.225rem;
    border-radius: 0 50px 50px 0;
    border: none;
    background-color: var(--MainPurple);
    transition: all 0.2s ease-in-out;
  }

  .show-sidebar-btn::before {
    content: url("/assets/icon-show-sidebar.svg");
    text-align: center;
  }

  .show-sidebar-btn:hover {
    cursor: pointer;
    background-color: var(--MainPurpleHover);
  }
}

@media screen and (min-width: 765px) and (max-width: 1024px) {
  .sidebar-wrapper {
    padding-right: 1.09rem;
  }

  h4 {
    margin-left: 1.5rem;
  }

  .sidebar {
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: 765px) {
  .sidebar {
    margin-left: -400px;
  }
}
.margin-left {
  margin-left: -400px;
}
