<app-modal>
  <div class="edit-task-wrapper">
    <h2 class="heading">Edit Task</h2>
    <form>
      <div class="board-name-container">
        <div class="input-info">
          <p class="input-heading">Title</p>
        </div>
        <input
          id="boardName"
          class="input input-name"
          type="text"
          placeholder="e.g. Web Design"
          [value]="task.taskTitle"
        />
      </div>

      <div class="description-container">
        <div class="input-info">
          <p class="input-heading">Description</p>
        </div>
        <textarea
          [value]="task.taskDescription"
          class="textarea"
          placeholder="No description"
        ></textarea>
      </div>

      <div class="subtasks-container">
        <div class="input-info"><p class="input-heading">Subtasks</p></div>
        <div class="column-input" *ngFor="let subtask of subtasks">
          <input
            id="boardColumns"
            class="input column-input"
            type="text"
            [value]="subtask.subtaskTitle"
          /><button class="remove-btn"></button>
        </div>
        <button class="btn add-subtask-btn">+Add New Subtask</button>
      </div>
      <div class="status-container">
        <div class="input-info"><p class="input-heading">Status</p></div>
        <div class="status-input" (click)="showDropdown()">
          {{ getActiveStatus(task.columnId) }}
        </div>
        <div class="status-dropdown" #dropdown>
          <div class="dropdown-option" *ngFor="let column of columns">
            {{ column.columnName }}
          </div>
        </div>
      </div>
      <button class="btn create-board-btn">Save Changes</button>
    </form>
  </div>
</app-modal>
