.add-board-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}

.heading {
  font-size: 1.125rem;
  color: var(--White);
  font-weight: bold;
}

.board-name-container {
  margin-top: 1.5rem;
}

.input-heading {
  font-size: 0.75rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid var(--LinesDark);
  background-color: unset;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  font-size: 0.813rem;
  font-weight: medium;
  color: white;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1; /* Firefox */
}

.input:hover {
  border-color: var(--MainPurple);
  outline: none;
}

.input:focus {
  border-color: var(--MainPurpleHover);
  outline: none;
}

.input-name {
  width: 26rem;
  transition: all 0.2s ease-in-out;
}

.new-column:not(:first-child) {
  margin-top: 0.5rem;
}

.column-input {
  width: 100%;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.column-input:not(:first-child) {
  margin-top: 0.75rem;
}

.remove-btn {
  background-image: url("/assets/icon-cross.svg");
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: unset;
  border: unset;
  transition: all 0.2s ease-in-out;
}

.remove-btn:hover {
  cursor: pointer;
  background-image: url("/assets/icon-cross-hover.svg");
}

.board-columns-container {
  margin-top: 1.5rem;
}

.btn {
  font-size: 0.938rem;
  font-weight: bold;
  border: none;
  padding: 0.938rem 1.5rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

.create-board-btn {
  margin-top: 1.5rem;
}

.add-column-btn {
  margin-top: 0.75rem;
  color: var(--MainPurple);
  background-color: white;
}

.create-board-btn {
  background-color: var(--MainPurple);
  color: white;
}

.create-board-btn:hover {
  background-color: var(--MainPurpleHover);
}

@media screen and (max-width: 765px) {
  .input-name {
    width: 18.438rem;
  }
}
