<app-modal (close)="closeModal()">
  <div class="add-task-wrapper">
    <h2 class="heading">Add New Task</h2>
    <form [formGroup]="postTask">
      <div class="board-name-container">
        <div class="input-info">
          <p class="input-heading">Title</p>
        </div>
        <input
          id="taskTitle"
          class="input input-name"
          type="text"
          placeholder="e.g. Web Design"
          required
          formControlName="taskTitle"
        />
      </div>

      <div class="description-container">
        <div class="input-info">
          <p class="input-heading">Description</p>
        </div>
        <textarea
          id="taskDescription"
          class="textarea"
          formControlName="taskDescription"
          placeholder="e.g. It’s always good to take a break. This 15 minute break will  recharge the batteries a little."
        ></textarea>
      </div>
    </form>
    <form [formGroup]="postSubtask">
      <div class="subtasks-container" formArrayName="subtasks">
        <div class="input-info"><p class="input-heading">Subtasks</p></div>
        <div
          class="new-subtask"
          *ngFor="let subtask of subtasks.controls; index as i"
        >
          <div class="column-input" [formGroupName]="i">
            <input
              id="subtaskTitle"
              class="input column-input"
              type="text"
              formControlName="subtaskTitle"
              placeholder="e.g. Make Coffee"
              required
            /><button class="remove-btn" (click)="removeSubtask(i)"></button>
          </div>
        </div>
        <button class="btn add-subtask-btn" (click)="addSubtask()">
          +Add New Subtask
        </button>
      </div>
    </form>
    <div class="status-container">
      <div class="input-info"><p class="input-heading">Status</p></div>
      <div class="status-input" (click)="showDropdown()">
        {{ selectedColumn?.name }}
      </div>
      <div class="status-dropdown" #dropdown>
        <span
          class="dropdown-option"
          *ngFor="let column of columns"
          [attr.data-value]="column.id"
          (click)="getDataColumn($event)"
          >{{ column.name }}</span
        >
      </div>
    </div>
    <button class="btn create-board-btn" (click)="submitForm()">
      Create Task
    </button>
  </div>
</app-modal>
