<app-modal>
  <div class="modal-wrapper">
    <h2 class="delete-heading">Delete this board?</h2>
    <p class="delete-info">
      Are you sure you want to delete the ‘{{ board?.name }}’ board? This action
      will remove all columns and tasks and cannot be reversed.
    </p>
    <div class="buttons">
      <button class="btn btn-delete" (click)="deleteBoard(board.id)">
        Delete
      </button>
      <button class="btn btn-cancel" (click)="cancelDelete()">Cancel</button>
    </div>
  </div>
</app-modal>
