<app-add-task
  *ngIf="addtask"
  [board]="board"
  [taskId]="taskId"
  [subtaskId]="subtaskId"
  (close)="addTaskModal()"
></app-add-task>
<app-delete-board
  *ngIf="confirm"
  [board]="board"
  (confirm)="deleteBoard()"
></app-delete-board>
<app-edit-board *ngIf="edit" [board]="board"> </app-edit-board>
<header>
  <div class="header-wrapper">
    <div class="header-logo">
      <img class="logo-desktop" src="assets/logo-light.svg" alt="" />
      <img class="logo-mobile" src="assets/logo-mobile.svg" alt="" />
    </div>
    <div class="platform-launch">
      <div class="platform-heading-left">
        <h2>{{ board?.name }}</h2>
        <div class="mobile-menu">
          <button class="mobile-sidebar-btn"></button>
        </div>
      </div>
      <div class="platform-options-right">
        <div class="options">
          <button class="add-new-task-btn" (click)="addTaskModal()"></button>
          <div class="manage-board-dropdown">
            <button class="manage-board-btn" (click)="showDropDown()"></button>
            <div class="manage-board-dropdown-content display-none" #optionsbar>
              <button
                class="manage-board-dropdown-btn medium-grey"
                (click)="editBoard()"
              >
                Edit Board
              </button>
              <button
                class="manage-board-dropdown-btn red"
                (click)="deleteBoard()"
              >
                Delete Board
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
