.task-editor-wrapper {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  font-size: 1.125rem;
  color: var(--White);
  font-weight: bold;
}

.task-name-container {
  margin-top: 1.5rem;
}

.input-heading {
  font-size: 0.75rem;
  color: white;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  border: 1px solid var(--LinesDark);
  background-color: unset;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  font-size: 0.813rem;
  font-weight: medium;
  color: white;
}

.invalid {
  border-color: var(--Red);
}

.input-pack {
  position: relative;
  width: 100%;
}

.error-message {
  position: absolute;
  right: 1rem;
  color: var(--Red);
  font-size: 0.813rem;
  white-space: nowrap;
  top: 49%;
  transform: translateY(-49%);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1; /* Firefox */
}

.input:hover {
  border-color: var(--MainPurple);
  outline: none;
}

.input:focus {
  border-color: var(--MainPurpleHover);
  outline: none;
}

.input-name {
  width: 26rem;
  transition: all 0.2s ease-in-out;
}

.description-container {
  margin-top: 1.5rem;
}

.textarea {
  width: 100%;
  height: 7rem;
  background-color: unset;
  border: 1px solid var(--LinesDark);
  padding: 0.7rem 1rem;
  border-radius: 4px;
  font-size: 0.813rem;
  line-height: 1.3rem;
  font-weight: medium;
  color: white;
  resize: none;
}

.textarea::placeholder {
  color: rgba(255, 255, 255, 0.25);
  opacity: 1; /* Firefox */
}

.textarea:hover {
  border-color: var(--MainPurple);
}

.textarea:focus {
  border-color: var(--MainPurpleHover);
  outline: none;
}

.textarea::-webkit-scrollbar {
  width: 0.25rem;
}

.textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--LinesDark);
  outline: 1px solid var(--LinesDark);
  cursor: pointer;
}

.subtasks-container {
  margin-top: 1.5rem;
}

.subtask-input {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.subtask-input:not(:first-child) {
  margin-top: 0.75rem;
}

.remove-btn {
  background-image: url("/assets/icon-cross.svg");
  margin-left: 1rem;
  width: 1rem;
  height: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: unset;
  border: unset;
  transition: all 0.2s ease-in-out;
}

.remove-btn:hover {
  cursor: pointer;
  background-image: url("/assets/icon-cross-hover.svg");
}

.btn {
  font-size: 0.938rem;
  font-weight: bold;
  border: none;
  padding: 0.938rem 1.5rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.btn:hover {
  cursor: pointer;
}

.add-subtask-btn {
  margin-top: 0.75rem;
  color: var(--MainPurple);
  background-color: white;
}

.status-container {
  margin-top: 1.5rem;
}

.status-input {
  border: 1px solid var(--LinesDark);
  background-color: unset;
  padding: 0.7rem 1rem;
  border-radius: 4px;
  font-size: 0.813rem;
  font-weight: medium;
  color: white;
  transition: all 0.2s ease-in-out;
  background-image: url("/assets/icon-chevron-down.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 96%;
  background-size: 0.85rem;
}

.status-input:hover {
  cursor: pointer;
  border-color: var(--MainPurple);
}

.status-dropdown {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: var(--VeryDarkGrey);
  max-width: 26rem;
  width: 100%;
  border-radius: 8px;
  color: var(--MediumGrey);
  margin-top: 0.313rem;
  padding: 1rem;
  font-size: 0.813rem;
  transition: all 0.2s ease-in-out;
}

.dropdown-option {
  padding: 0.25rem 0;
  transition: all 0.2s ease-in-out;
}

.dropdown-option:not(:first-child) {
  margin-top: 0.5rem;
}

.dropdown-option:hover {
  color: var(--White);
  cursor: pointer;
}

.display-flex {
  display: flex;
}

.submit-task-btn {
  margin-top: 1.5rem;
  background-color: var(--MainPurple);
  color: white;
}

.submit-task-btn:hover {
  background-color: var(--MainPurpleHover);
}

.new-subtask:not(:first-child) {
  margin-top: 0.5rem;
}

@media screen and (max-width: 765px) {
  .input-name {
    width: 18.438rem;
  }
}
