<app-add-board *ngIf="show" (close)="toggleModal()"></app-add-board>
<div class="boards-navlist">
  <h4>ALL BOARDS ({{ boardsNames.length }})</h4>
  <ul class="navlist-buttons">
    <li *ngFor="let boardName of boardsNames">
      <button
        [ngClass]="active == boardName.id ? 'navlist-btn-active' : null"
        class="navlist-btn"
        (click)="selectBoard(boardName)"
      >
        {{ boardName.name }}
      </button>
    </li>
    <button class="navlist-btn btn-add" (click)="toggleModal()">
      +Create New Board
    </button>
  </ul>
</div>
