<app-board-editor
  [addBoard]="true"
  *ngIf="addBoard"
  (close)="addBoardModal()"
></app-board-editor>
<div class="boards-navlist">
  <h4>ALL BOARDS ({{ boardsNames.length }})</h4>
  <ul class="navlist-buttons">
    <li *ngFor="let boardName of boardsNames">
      <button
        [ngClass]="activeBoard == boardName.id ? 'navlist-btn-active' : null"
        class="navlist-btn"
        (click)="selectBoard(boardName)"
      >
        {{ boardName.name }}
      </button>
    </li>
    <button class="navlist-btn btn-add" (click)="addBoardModal()">
      +Create New Board
    </button>
  </ul>
</div>
