<app-add-board *ngIf="show" (close)="toggleModal()"></app-add-board>
<div class="boards-navlist">
  <h4>ALL BOARDS ({{ boards.length }})</h4>
  <ul class="navlist-buttons">
    <li *ngFor="let board of boards">
      <button
        [ngClass]="active == board.boardId ? 'navlist-btn-active' : null"
        class="navlist-btn"
        (click)="selectBoard(board)"
      >
        {{ board.boardName }}
      </button>
    </li>
    <!-- <li><button class="navlist-btn">Marketing Plan</button></li>
    <li><button class="navlist-btn">Roadmap</button></li> navlist-btn-active-->
    <button class="navlist-btn btn-add" (click)="toggleModal()">
      +Create New Board
    </button>
  </ul>
</div>
