<app-modal (close)="closeModal()">
  <!-- taskview modal -->
  <div *ngIf="!deleteFlag && !editFlag">
    <div class="task-view-wrapper">
      <div class="header-wrapper">
        <h2 class="heading">{{ taskView.title }}</h2>
        <div class="manage-task-dropdown">
          <button class="manage-task-btn" (click)="showManageTask()"></button>
          <div class="manage-task-dropdown-content display-none" #optionsbar>
            <button
              class="manage-task-dropdown-btn medium-grey"
              (click)="editTaskModal()"
            >
              Edit Task
            </button>
            <button
              class="manage-task-dropdown-btn red"
              (click)="showConfirmDelete()"
            >
              Delete Task
            </button>
          </div>
        </div>
      </div>
      <div class="description">
        <p class="p-description">{{ taskView.description }}</p>
      </div>
      <div class="subtasks-container">
        <p class="input-heading">
          Subtasks ({{ subtasksCompletedCount }} of {{ subtasksCount }})
        </p>
        <label
          (click)="changeCompleteStatus(subtask)"
          class="subtask"
          *ngFor="let subtask of taskView.subtasks"
          [ngClass]="subtask.completed ? 'checked' : ''"
        >
          <input
            [checked]="subtask.completed"
            type="checkbox"
            name="business"
            (click)="(subtask)"
          />
          {{ subtask.title }}
        </label>
      </div>
      <div class="status-container">
        <div class="input-info">
          <p class="input-heading">Current Status</p>
        </div>
        <div class="status-input" (click)="showDropdownStatus()">
          {{ activeColumn?.name }}
        </div>
        <div class="status-dropdown" #dropdown>
          <span
            class="dropdown-option"
            *ngFor="let column of taskView.columns"
            [attr.data-value]="column.id"
            (click)="getDataColumn($event)"
            >{{ column.name }}</span
          >
        </div>
      </div>
    </div>
  </div>
</app-modal>

<app-task-editor
  *ngIf="editFlag"
  [taskView]="taskView"
  (close)="editTaskModal()"
></app-task-editor>

<app-delete-modal
  *ngIf="deleteFlag"
  [deleteType]="DeleteTypeEnum.Task"
  [taskView]="taskView"
  [id]="taskView.id"
  (cancel)="cancelDelete()"
>
</app-delete-modal>
